{:com.wsscode.pathom3.connect.planner/source-ast                {:type     :root,
                                                                 :children [{:type         :prop,
                                                                             :dispatch-key :dep-on-error,
                                                                             :key          :dep-on-error}]},
 :com.wsscode.pathom3.connect.planner/index-attrs               {:dep-on-error #{1},
                                                                 :error-demo   #{2}},
 :com.wsscode.pathom3.connect.runner/compute-plan-run-finish-ms 7.220999890454E7,
 :com.wsscode.pathom3.connect.runner/graph-run-finish-ms        7.2209999262192E7,
 :com.wsscode.pathom3.connect.runner/compute-plan-run-start-ms  7.2209998335265E7,
 :com.wsscode.pathom3.connect.planner/root                      2,
 :com.wsscode.pathom3.connect.planner/available-data            {},
 :com.wsscode.pathom3.connect.runner/node-run-stats             {2                                                    #:com.wsscode.pathom3.connect.runner{:node-run-start-ms      7.2209998929434E7,
                                                                                                                                                           :resolver-run-start-ms  7.2209998961466E7,
                                                                                                                                                           :node-error             {:cause "Example Error",
                                                                                                                                                                                    :data  {},
                                                                                                                                                                                    :via   [{:type    clojure.lang.ExceptionInfo,
                                                                                                                                                                                             :message "Example Error",
                                                                                                                                                                                             :data    {},
                                                                                                                                                                                             :at      [...]}],
                                                                                                                                                                                    :trace [...]},
                                                                                                                                                           :resolver-run-finish-ms 7.2209999222335E7,
                                                                                                                                                           :node-resolver-input    {},
                                                                                                                                                           :node-resolver-output   :com.wsscode.pathom3.connect.runner/node-error,
                                                                                                                                                           :node-run-finish-ms     7.2209999239948E7},
                                                                 :com.wsscode.pathom3.connect.runner/nodes-with-error #{2}},
 :com.wsscode.pathom3.connect.planner/index-ast                 {:dep-on-error {:type         :prop,
                                                                                :dispatch-key :dep-on-error,
                                                                                :key          :dep-on-error}},
 :com.wsscode.pathom3.connect.runner/graph-run-start-ms         7.2209998328299E7,
 :com.wsscode.pathom3.connect.planner/index-resolver->nodes     {error_demo->dep_on_error-single-attr-transform #{1},
                                                                 error_demo-constant                            #{2}},
 :com.wsscode.pathom3.connect.planner/nodes                     {1 {:com.wsscode.pathom3.connect.operation/op-name    error_demo->dep_on_error-single-attr-transform,
                                                                    :com.wsscode.pathom3.connect.planner/expects      {:dep-on-error {}},
                                                                    :com.wsscode.pathom3.connect.planner/input        {:error-demo {}},
                                                                    :com.wsscode.pathom3.connect.planner/node-id      1,
                                                                    :com.wsscode.pathom3.connect.planner/node-parents #{2}},
                                                                 2 {:com.wsscode.pathom3.connect.operation/op-name error_demo-constant,
                                                                    :com.wsscode.pathom3.connect.planner/expects   {:error-demo {}},
                                                                    :com.wsscode.pathom3.connect.planner/input     {},
                                                                    :com.wsscode.pathom3.connect.planner/node-id   2,
                                                                    :com.wsscode.pathom3.connect.planner/run-next  1}}}
