{:com.wsscode.pathom3.connect.planner/source-ast                {:type     :root,
                                                                 :children [{:type         :prop,
                                                                             :dispatch-key :a,
                                                                             :key          :a}]},
 :com.wsscode.pathom3.connect.planner/index-attrs               {:a   #{1
                                                                        3},
                                                                 :dep #{2}},
 :com.wsscode.pathom3.connect.runner/compute-plan-run-finish-ms 9.0804615117212E7,
 :com.wsscode.pathom3.connect.runner/graph-run-finish-ms        9.0804615473849E7,
 :com.wsscode.pathom3.connect.runner/compute-plan-run-start-ms  9.0804614615412E7,
 :com.wsscode.pathom3.connect.planner/root                      4,
 :com.wsscode.pathom3.connect.planner/available-data            {},
 :com.wsscode.pathom3.connect.runner/node-run-stats             {4 #:com.wsscode.pathom3.connect.runner{:node-run-start-ms  9.0804615133884E7,
                                                                                                        :taken-paths        [2],
                                                                                                        :success-path       2,
                                                                                                        :node-run-finish-ms 9.0804615460078E7},
                                                                 2 #:com.wsscode.pathom3.connect.runner{:node-run-start-ms      9.0804615261476E7,
                                                                                                        :resolver-run-start-ms  9.0804615282689E7,
                                                                                                        :resolver-run-finish-ms 9.0804615301894E7,
                                                                                                        :node-resolver-input    {},
                                                                                                        :node-resolver-output   {:dep "value"},
                                                                                                        :node-run-finish-ms     9.0804615358167E7},
                                                                 1 #:com.wsscode.pathom3.connect.runner{:node-run-start-ms      9.0804615369279E7,
                                                                                                        :resolver-run-start-ms  9.0804615383308E7,
                                                                                                        :resolver-run-finish-ms 9.0804615405599E7,
                                                                                                        :node-resolver-input    {:dep "value"},
                                                                                                        :node-resolver-output   {:a 1},
                                                                                                        :node-run-finish-ms     9.0804615450604E7}},
 :com.wsscode.pathom3.connect.planner/index-ast                 {:a {:type         :prop,
                                                                     :dispatch-key :a,
                                                                     :key          :a}},
 :com.wsscode.pathom3.connect.runner/graph-run-start-ms         9.0804614610331E7,
 :com.wsscode.pathom3.connect.planner/index-resolver->nodes     {a1                #{1},
                                                                 high-priority-dep #{2},
                                                                 a2                #{3}},
 :com.wsscode.pathom3.connect.planner/nodes                     {1 {:com.wsscode.pathom3.connect.operation/op-name    a1,
                                                                    :com.wsscode.pathom3.connect.planner/expects      {:a {}},
                                                                    :com.wsscode.pathom3.connect.planner/input        {:dep {}},
                                                                    :com.wsscode.pathom3.connect.planner/node-id      1,
                                                                    :com.wsscode.pathom3.connect.planner/node-parents #{2}},
                                                                 2 {:com.wsscode.pathom3.connect.operation/op-name    high-priority-dep,
                                                                    :com.wsscode.pathom3.connect.planner/expects      {:dep {}},
                                                                    :com.wsscode.pathom3.connect.planner/input        {},
                                                                    :com.wsscode.pathom3.connect.planner/node-id      2,
                                                                    :com.wsscode.pathom3.connect.planner/run-next     1,
                                                                    :com.wsscode.pathom3.connect.planner/node-parents #{4}},
                                                                 3 {:com.wsscode.pathom3.connect.operation/op-name    a2,
                                                                    :com.wsscode.pathom3.connect.planner/expects      {:a {}},
                                                                    :com.wsscode.pathom3.connect.planner/input        {},
                                                                    :com.wsscode.pathom3.connect.planner/node-id      3,
                                                                    :com.wsscode.pathom3.connect.planner/node-parents #{4}},
                                                                 4 #:com.wsscode.pathom3.connect.planner{:expects {:a {}},
                                                                                                         :node-id 4,
                                                                                                         :run-or  #{3
                                                                                                                    2}}}}
