/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --pathom-background: #031e3e;
  --pathom-admonition-size: 6px;
}

.hero {--ifm-hero-text-color: #fff}

.hero__title {margin: 0 2em;}

.hero-pathom {background-color: var(--pathom-background);}

.hero-pathom .button.button--secondary.button--outline:not(.button--active):not(:hover) {color: #fff;}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.pathom-diagram {
  background: #2b2b2b;
  border: 1px solid #fff;
  margin: 40px 0 30px;
  padding: 30px 16px 10px;
  text-align: center;
}

.pathom-plan-view {
  background: #2b2b2b;
  border: 1px solid #fff;
  margin: 40px 0 30px;
  padding: 16px;
}

h4 a code {
  color: #649fff;
}

.docusaurus-highlight-code-line {
  background: #3e4b75;
}

/* region Admonitions */

.alert a {
  color: #fff;
}

.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
  color: #fff;
  border: none;
  border-radius: 0;
}

.admonition-heading svg {
  margin-right: 0.2rem;
}

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke-width: 0;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

/* default for custom types */
.admonition {
  background-color: rgba(118, 51, 219, 0.1);
  border-left: var(--pathom-admonition-size) solid #7633db;
}

.admonition h5 {
  color: #7633db;
}

.admonition .admonition-icon svg {
  stroke: #7633db;
  fill: #7633db;
}

/** native types */
.admonition-caution {
  border-left: var(--pathom-admonition-size) solid #e67e22;
}

.admonition-caution h5 {
  color: #e67e22;
}

.admonition-caution .admonition-icon svg {
  stroke: #e67e22;
  fill: #e67e22;
}

.admonition-tip {
  border-left: var(--pathom-admonition-size) solid #2ecc71;
}

.admonition-tip h5 {
  color: #2ecc71;
}

.admonition-tip .admonition-icon svg {
  stroke: #2ecc71;
  fill: #2ecc71;
}

.admonition-danger {
  border-left: var(--pathom-admonition-size) solid #e74c3c;
}

.admonition-danger h5 {
  color: #e74c3c;
}

.admonition-danger .admonition-icon svg {
  stroke: #e74c3c;
  fill: #e74c3c;
}

.admonition-important {
  border-left: var(--pathom-admonition-size) solid #3498db;
}

.admonition-important h5 {
  color: #3498db;
}

.admonition-important .admonition-icon svg {
  stroke: #3498db;
  fill: #3498db;
}

.admonition-note {
  border-left: var(--pathom-admonition-size) solid #b36cdb;
  --ifm-alert-border-color: #b36cdb;
}

.admonition-note h5 {
  color: #b36cdb;
}

.admonition-note .admonition-icon svg {
  stroke: #b36cdb;
  fill: #b36cdb;
}

/* endregion */

.soundcloud-embeded {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  margin-bottom: 3rem;
}

.soundcloud-embeded a {
  color: #cccccc;
  text-decoration: none;
}
